*{
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
}

header {
  color: #598e30;
  background-color: black;
  height: 100px;
}

section{
  width: 1170px;
  margin: auto;
}
.bg-gray {
  background-color:#f7f7f7;
  width: 1170px;
  margin: auto;

}
body {
  font-size: 14px;
  font-family: Roboto slab,Helvetica neue;
  color: #777;
}
h3 {
  font-size: 20px;
  font-family: Montserrat;
  text-transform: capitalize;
  color: #000;
  margin-top: 15px;
}
h4 {
  font-size: 16px;
  font-family: cursive;
  font-weight: bold;
  color: #000;
}

span {
    float: left;
}
.center {
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

.menu li {
  display: inline;
margin-left: 20px;
background-color: black;
}
.menu{
  float: right;
}

#photogreta{
  max-width: 160px;
  vertical-align: middle;
margin-left: 35px;
}
nav {
  width: 1170px;
  margin: auto;
  line-height: 100px;
}

#moi{
  font-size: 20px;
  font-family: Montserrat;
  text-transform: capitalize;
  text-align: center;
}
nav a {
  color: white;
}
.point {
  list-style-type: none;
}
.trombi img {
  display: block;
}

.trombi{
  list-style-type: none;
}

.trombi li {
  width: 150px;
  text-align: center;
  float: left;
  margin: 5px;
  height: 200px;
}

.left {
  width: 50%;
  text-align: center;
  float: left;
  padding-top: 10px;
}
.right {
  text-align: center;
  width: 50%;
  float: left;
}

#objectif{
  padding-top: 10px;
}
.zoomImage {
  zoom: 150%;
}
.colorRed {
  border: 2px green solid;
}
form {
  /* Pour le centrer dans la page */
  margin: 0 auto;
  width: 400px;
  /* Pour voir les limites du formulaire */
  padding: 1em;
  border: 4px solid #CCC;
  border-radius: 1em;
}
  form div + div {
  margin-top: 1em;
}

label {
  /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
  display: inline-block;
  width: 90px;
  text-align: right;
}
input:focus, textarea:focus {
  /* Afin de rehausser les éléments actifs */
  border-color: #000;
}
textarea {
  /* Pour aligner correctement les champs multilignes et leurs étiquettes */
  vertical-align: top;

  /* Pour donner assez d'espace pour entrer du texte */
  height: 5em;

  /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
     Cela ne marche pas avec tous les navigateurs  */
  resize: vertical;
}
.button {
  /* Pour positionner les boutons de la même manière que les champs textuels */
  padding-left: 90px; /* même dimension que les étiquettes */
}

button {
  /* Cette marge représente approximativement le même espace
     que celui entre les étiquettes et les champs textuels */
  margin-left: .5em;
}
input, textarea {
  /* Afin de s'assurer que tous les champs textuels utilisent la même police
     Par défaut, textarea utilise une police à espacement constant */
  font: 1em sans-serif;

  /* Pour donner la même dimension à tous les champs textuels */
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* Pour harmoniser l'apparence des bordures des champs textuels */
  border: 1px solid #999;
}

span {
  float: left;
}
.menu li {
display: inline;
margin-left: 20px;
background-color: black;
}
nav a {
color: white;
}
h1 {
font-family: garamond;
color: black;
background-color: yellow;
text-align: center;
}
.pied {
  background-color: green;
  height: 20px;

}
.fin {
  text-align: center;
}
.mavie {
  text-align: center;
}

section {
  min-height: 220px;
}
